/* Compare list css */
.compare-list{
    background: #ffffff;
    padding: 10px;
    width: 925px;
    position: fixed;
    left: 20%;
    bottom: 5px;
    border-radius: 5px;
    transition: all .3s linear;
    z-index: 99;
}

.compare-now-btn{
    height: 100px;
}

.close-compare-list{
    position: absolute;
    right: -19px;
    top: -19px;
    color:rgb(243, 59, 59);
    cursor: pointer;
}

.close-compare-list svg{
    height: 30px;
    background-color: transparent;
    fill: none;
}

.close-compare-list svg:hover {
    background-color: red;
    color: #ffffff;
    border-radius: 50%;
}

.close-compare-item{
    position: absolute;
    right: 18px;
    top: 4px;
    color: rgb(243, 59, 59);
    cursor: pointer;
}

.close-compare-item svg {
    height: 20px;
    background-color: transparent;
    fill: none;
}

.close-compare-item svg:hover {
    background-color: red;
    color: #ffffff;
    border-radius: 50%;
}

/* Compare list modal css */
.modal-overlay{
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    padding: 1.2rem;
}

.compare-list-modal{
    max-width: 1200px;
    position: relative;
    padding: 1.9rem 3rem;
    background: #ffffff;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 25%);
    margin: auto;
}

.compare-list-modal-header{
    padding: 20px;
    text-align: center;
}

.compare-list-modal-body .row {
    border: 1px dashed rgb(177, 177, 177) !important;
}

.compare-list-modal-body .details{
    padding: 5px 20px;
    text-align: center;
    border-right: 1px dashed rgb(177, 177, 177) !important;
}

.compare-list-modal-body .row .details:last-child{
    border-right: none !important;
}

.compare-list-modal-body .details div:first-child img {
    height: 100px;
}

.compare-list-modal-body .details div:first-child svg{
    fill: none;
    height: 100px;
}