#credit-card-page .group-dropdown .single-dropdown{
    width: 180px;
    margin-right: 20px;
}
#credit-card-page .card-search input{
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ddd;
}
#credit-card-page .single-card{
    border: 1px solid #666;
    padding: 10px;
}
.card-section .single-card .btn__group button{
    padding: 8px 15px;
    cursor: pointer;
    transition: .3s ease-in-out;
    outline: none;
}

.card-section .single-card .btn__group button:active{
    outline: none;
}
.card-section .single-card .btn__group button:not(:last-child){
    border-right: none !important;
}
.card-section .single-card .btn__group button:hover,
.card-section .single-card .active{
    background: var(--primary);
    color: #ddd;
}
.card-section .single-card  .description{
    align-items: center;
    justify-content: space-around;
}
.card-section .single-card  .description img{
    width: 150px;
}
.card-section .single-card  .description .vl-line{
    width: 2px;
    height: 120px;
    background: #666;
    margin-top: -36px;
    border: none;
}
.card-section .single-card  .description .vl-line-1{
    width: 2px;
    height: 80%;
    background: #666;
    border: none;
}
.card-section .single-card  .fst-child,
.card-section .single-card  .lst-child{
    position: relative;
    top: -25px;
}
.group-card .lst-child button{
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-size: 17px;
    border: 2px solid #666;
}
.group-card .lst-child button:first-child:hover{
    background: var(--primary);
    color: #fff;
    /* border: 2px solid rgb(134, 134, 134); */
}
.group-card .lst-child button span{
    font-size: 14px;
}
.group-card .lst-child button:last-child{
    border-radius: 50px;
    line-height: 16px;
    padding: 5px 20px;
}
