/*-----------------
	5. Footer
-----------------------*/

/* #fbab15 #0b4376 */
#footer {
  font-size: 15px;
  background-color: #fbab15;
  padding: 10px 0;
}
#footer .logo {
  height: 60px;
  margin-bottom: 20px;
}
#footer ul {
  padding: 0 !important;
  margin-top: 35px !important;
}
#footer ul.location {
  margin-top: 5px !important;
}
#footer ul li {
  margin-bottom: 10px;
  margin-right: 25px;
}
#footer ul li .icon svg {
  height: 20px;
  fill: var(--primary);
  margin-right: 5px;
  margin-bottom: -5px;
}
#footer ul li a {
  color: var(--primary);
  transition: 0.4s ease-in-out;
}
#footer p {
  color: var(--primary);
  margin-top: 2.5rem;
  margin-bottom: 20px;
}
#footer ul li a:hover {
  letter-spacing: 1px;
}

#footer ul li .social-icon svg {
  height: 36px;
  fill: var(--primary);
}
#copy-right {
  background: var(--primary);
}

#copy-right p,
#copy-right p a {
  color: var(--white);
}
#copy-right p a {
  font-weight: 500;
}
#copy-right p svg {
  height: 18px;
  fill: #fff;
}
#footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #fff;
  border-top: 2px solid var(--gray);
  z-index: 11110;
}

#footer-nav .content .separator {
  width: 1px;
  height: 31px;
  background-color: #ebebeb;
}
#footer-nav .content .hero-icon svg {
  height: 25px;
  fill: var(--gray);
}
#footer-nav .content p {
  margin-bottom: 0 !important;
}
.support-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11111;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.support-container .close-btn{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11112;
  background: transparent;
}
.support-container .support-content{
  background-color: #fff;
  height: 75vh;
  width: 90vw;
  border-radius: 10px;
  z-index: 11113;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.support-container .support-content .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.support-container .support-content .btn-close{
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  /* background: #0b427627; */
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
}
.support-container .support-content img{
  height: 150px;
}
.support-container .support-content svg{
  height: 20px;
  margin-right: 10px;
  margin-bottom: -5px;
  fill: #fff;
}
.support-container .support-content .content a{
  padding: 10px 20px;
}
