/*-----------------
	1. User Profile page
-----------------------*/
.profile-form .right .edit-btn{
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
.profile-form .right .edit-btn svg{
  fill: rgb(66, 69, 83);
  height: 18px;
}
.profile-form .right .form-grp{
  background: #0000000e;
  padding: 12px;
}
.profile-form .right .form-grp h4{
  margin-bottom: 0 !important;
}
.profile-form .right .group-info{
  border: 1px solid #00000033;
}
.profile-form .form-group label{
  padding-left: 35px !important;
}
.profile-form .form-group .input-field{
  padding-right: 35px !important;
}
.profile-form .form-group .submit-btn{
  border: none;
}
.profile-form .form-group select{
  width: 100% !important;  
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(190, 190, 190);
  background: #fff;
}
.profile-form .form-group-nid{
  padding: 0 35px;
}


.input-preview-front__src,
.input-preview-back__src {
  height: 100% !important;
  opacity: 0;
  width: 100%;
  position: absolute;
  z-index: 5;
}

.input-preview-front,
.input-preview-back {
	border-radius: 4px;
	width: 200px;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	transition: ease-in-out 750ms;
  border: 1px solid rgb(190, 190, 190);
  z-index: 1;
}

.input-preview-front img,
.input-preview-back img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 5px;
}
.input-preview-front::after,
.input-preview-back::after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	transform: translateY(50%);
	content: "Choose a file...";
	font-style: italic;
	font-size: 1em;
}

.has-image::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(50, 50, 50, 0.281);
	content: " ";
	transition: ease-in-out 750ms;
}

.has-image::after {
	content: "Choose another file...";
	color: white;
}
