@media screen and (max-width: 1200px) {
    #credit-card-page .card-section{
        padding: 0 30px !important;
    }
    .financial-area .w-200{
        width: 100% !important;
    }
}
@media screen and (max-width: 1100px) {
    #credit-card-page .card-section{
        padding: 0 30px !important;
    }
}
@media screen and (max-width: 1025px) {
    #homePage .hero-area h1{
        font-size: 80px !important;
    }
}
@media screen and (max-width: 950px) {
    #credit-card-page .card-section{
        padding: 0 15px !important;
    }
    .h4{
        font-size: 1rem !important;
    }
    .single-card .w-220{
        width: 190px;
    }
    .card-section .single-card .btn__group{
        margin-bottom: 2.5rem !important;
    }
    #credit-card-page .card-search input{
        width: 160px;
    }
}
@media screen and (max-width: 768px) {
    .mobile-view-none{
        display: none !important;
    }
    .form-group .input-field{
        padding-right: 0 !important;
    }
    .hero-area .btn-grp button div{
        padding-left: 5px !important;
    }
    #homePage .btn-grp button{
        margin-right: 10px;
    }
    .hero-area .row .col-md-12{
        padding-left: 10px !important;
    }
    .statistics-area ._image{
        width: 50px;
    }
    .financial-area .left .vl{
        display: none !important;
    }
    .financial-area .right{
        padding-left: 15px !important;
    }
    .card-section .card-section-pc{
        display: none;
    }
    .card-section .card-section-phone{
        display: block;
    }
    #credit-card-page .card-section {
        padding: 0 !important;
    }
    .application-form .form-group label{
        padding-left: 10px !important;
    }
    .card-search-pc{
        display: none;
    }
    .card-search-phone{
        display: flex !important;
    }
    .pc-card-filter .filter-section{
        flex-wrap: wrap !important;
        justify-content: space-around !important;
    }
    #credit-card-page .card-search input{
        width: 165px !important;
    }
    .filter-section .card-search,
    .filter-section .single-dropdown{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 165px !important;
    }
    .filter-section .filter{
        width: 48px;
    }
    .more-details-sec .more-details{
        padding: 0 !important;
    }
}
@media screen and (max-width: 600px) {
    #homePage .hero-area h1{
        color: var(--white) !important;
    }

}
@media screen and (max-width: 572px) {
    .left-nav .logo img{
        height: 50px;
    }
    .left-nav .logo{
        padding: 15px 20px;
    }
    .left-nav .call {
        margin-left: 5px !important;
    }
}

@media screen and (max-width: 535px) {
    .right-nav .nav-menu a{
        font-size: 14px;
    }
}
@media screen and (max-width: 481px) {
    .phone-none,
    .left-nav .phone-none{
        display: none !important;
    }
    .phone-show{
        display: flex !important;
    }
    .phone-show a{
        margin-left: 5px !important;
    }
    .statistics-area ._image{
        width: 40px;
    }
    .phone-show{
        display: block !important;
    }
    #copy-right{
        padding-bottom: 80px !important;
    }
}